div{
  border: 3px solid black;
}
.sticky{
  position: sticky;
  top: 1px;
  left: 50px;
  width: 100px;
}
.relative{
  position: relative;
  left: 100px;
  border: 10px solid blue;
}
.absolute{
  position: absolute;
  left: 20px;
  border: 10px solid red
}
.fixed{
  position: fixed;
  bottom: 20px;
  border: 20px solid green;
}