img{
    width: 300px;
    display: block;
    margin: 0 auto;
    border: 1px solid #D4BBFC;
}

div{
    background-color: #7627F5;
    color: #F0E7FE;
    padding: 20px;
    border: 1px solid #0A0118;
    margin: 20px 40px;
}

h1{
    text-align: center;
}

body{
    font-family: "Bitcount Grid Single", system-ui;
    background: linear-gradient(#F2F2F3, #DCDBDC, #C5C3C6, #AFACB0, #979499, #817D82);
}

p{
    font-family: "Montserrat", sans-serif;
}
div:hover{
    background-color: #5209C8;
    color: #F2F2F3;
    padding: 20px;
    border: 1px solid #0A0118;
    margin: 10px 20px;
}
